<footer class="site-footer">
    <div class="ui inverted black footer vertical segment">
      <div class="ui stackable center aligned page grid">
        <div class="two column row">
          <div class="column left aligned">
            <p style="font-size: 1.2em;">&copy; 2015 - All Right Reserved</p>
          </div>
          <div class="column right aligned">
          	<p style="font-size: 1.2em;">
          	<a href="/disclaimer">Disclaimer</a>
          	</p>
          </div>
        </div>
      </div>
    </div>
</footer>
