<div class="ui fixed inverted main menu">
  <div class="ui container">
    <a class="title item header" href="http://devoresyah.github.io/"><i class="fa fa-code"></i> Libraries |&nbsp;DeVoresyah</a>
    <div class="right menu">
      <div class="ui mobile top right pointing dropdown item" tabindex="0">
        Menu
        <i class="dropdown icon"></i>
        <div class="menu" tabindex="-1">
          <a class="item" href="/allpost/">All Post</a>
          <a class="item" href="/about/">About</a>
          <a class="item" href="/contact/">Contact</a>
        </div>
      </div>
      <a class="item" href="/allpost/"><i class="fa fa-file-text"></i>&nbsp;All Post</a>
      <a class="item" href="/about/"><i class="fa fa-user"></i>&nbsp;About Me</a>
      <a class="item" href="/contact/"><i class="fa fa-phone-square"></i>&nbsp;Contact Me</a>
      </div>
    </div>
  </div>