<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>Repository Libraries - DeVoresyah</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="DeVoresyah">
    <meta name="robots" content="no-cache">
    <meta name="keywords" content="DeVoresyah, Github, CodeIgniter, Semantic-UI, CSS, HTML, JavaScript, jQuery, Visual Basic">
    <link rel="icon" href="/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/css/semantic-v1.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/homepage.css" | prepend: site.baseurl }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ "/js/homepage.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/semantic.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/typed.min.js" | prepend: site.baseurl }}"></script>
    <script>
    $(function(){
    $(".about").typed({
    strings: ["Hello World...!^1500", "My name is Rully Ardiansyah (DeVoresyah) from Indonesia.^1000 I am CEO also Developer \non Vore Corporation.^900 I have several projects in web programming and software development.\n^850In web programming project I usually use the php native and php framework. To the web \nclient I thrive in almost all layers are CSS,^800 HTML,^700 JavaScript including jQuery and \nvarious frontend like twitter bootstrap framework.^800 I also often explored GitHub to \ndiscover new things and learn what I have not to understand. In Software Development I \nusually use visal basic..."],
    typeSpeed: 30,
    backDelay: 500,
    loop: false,
    loopCount: false,
    });
    });
    </script>
     <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  </head>