<div class="ui fluid action input">
<form role="search" method="get" action="{{site.baseurl}}/search/">
  <input name="q" type="text" placeholder="Search...">
  <button type="submit" class="ui icon button">
    <i class="fa fa-search"></i>
  </button>
</form>
</div>

		<div class="ui segment">
			<h3 class="ui header"><i class="fa fa-user"></i> About Me</h3>
			<p>I was a regular programmer who has expertise in HTML, CSS, JS, PHP, and multiple programming languages desktop.<br/><a href="/about" title="See More About Me">See More ...</a></p>
		</div>

		<div class="kotak-twitter" style="margin-top:10px">
		<a class="twitter-timeline" href="https://twitter.com/DeVoresyah" data-widget-id="259635400602173440">Tweet oleh @DeVoresyah</a>
		<script>
		! function(d, s, id) {
		    var js, fjs = d.getElementsByTagName(s)[0],
		        p = /^http:/.test(d.location) ? 'http' : 'https';
		    if (!d.getElementById(id)) {
		        js = d.createElement(s);
		        js.id = id;
		        js.src = p + "://platform.twitter.com/widgets.js";
		        fjs.parentNode.insertBefore(js, fjs);
		    }
		}(document, "script", "twitter-wjs");
		</script>
		</div>

		<div class="ui segment">
			<h3 class="ui header"><i class="fa fa-tags"></i> Tags</h3>
{% assign tags = site.tags | sort %}
{% for tag in tags %}
<a href="/tag/{{ tag | first | slugify }}/" class="ui label"><i class="fa fa-tag"></i> {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})</a>
{% endfor %}
		</div>

		<div class="my-octocard">
		<script data-name="DeVoresyah" data-modules="base,details,stats,repos,eventsStatis,orgs" data-reposNum="3" src="http://octocard.in/o.js" />
		</script>
		</div>