---
layout: all-post
title: All Post
author: devoresyah
---
<div class="nine wide column">
	<div class="ui segment">
	<div class="ui breadcrumb">
		<a href="/allpost/" class="section"><i class="fa fa-home"></i></a>
		<span class="divider">/</span>
		<span class="active section">All Post</span>
	</div>
	</div>
    {% for post in paginator.posts %}
    {% assign author = site.authors[page.author] %}
            <div class="ui segment divided items left aligned">
              <div class="item">
                <div class="content">
                  <h3><a href="{{ post.url | prepend: site.baseurl }}" class="header">{{ post.title }}</a></h3>
                  <div class="meta">
                    <div class="cinema"><i class="fa fa-calendar" style="margin-right:0;"></i> {{ post.date | date: "%-d %b %Y" }} <i class="fa fa-clock-o" style="margin-left:.1em;margin-right:0;"></i> {{ post.date | date: "%H:%M" }} <i class="fa fa-comments-o" style="margin-left:.1em;margin-right:0;"></i> <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread" class="disqus-comment-count" data-disqus-url="{{ post.url | prepend: site.baseurl }}">Comments</a> <a href="https://github.com/{{ author.github }}" style="margin-left:.1em;"><img alt="DeVoresyah" height="16" src="https://avatars1.githubusercontent.com/u/8052370?v=3&s=36" width="16" style="border-radius: 3px; box-shadow: none; box-sizing: border-box; border: none; vertical-align: top;"/> {{ author.display_name }}</a></div>
                  </div>
                  <div class="ui horizontal divider"><i class="fa fa-github-square" style="font-size: 2em;"></i></div>
                  <div class="description">
                    {% for posting in site.posts %}
                    <p>{{ posting.excerpt }}</p>
                    {% endfor %}
                  </div>
                  <div class="extra">
                    <a href="{{ post.url | prepend: site.baseurl }}" class="ui right floated primary button">
                      Read More <i class="fa fa-chevron-right"></i>
                    </a>
                    {% for tags in post.tags %}
                    <div class="ui label"><i class="fa fa-tag"></i> {{ tags }}</div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
    {% endfor %}

{% if paginator.total_pages > 1 %}
<div class="ui pagination menu">
  {% if paginator.previous_page %}
    <a rel="prev" class="item" href="{{ paginator.previous_page_path | replace: 'index.html', '/' | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <a class="active item">{{ page }}</a>
    {% elsif page == 1 %}
      <a class="item" href="{{ '/allpost' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a class="item" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a rel="next" class="item" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
  {% endif %}
</div>
{% endif %}
</div>